.container {
  text-align: center;
  position: relative; /* Added for positioning the absolute element */
}

h1, h2, p {
  margin: 10px 0;
}

.links a {
  margin-right: 10px;
}

.top-left-image {
  position: absolute;
  top: 30px;
  left: 30px;
}

.name {
  margin-top: 380px; /* Adjust the margin-top value to position the name below the image */
}
